@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
  --background-color: #f0f2f5;   /* Light Gray */
  --text-color: #333333;         /* Dark Gray */
  --accent-color: #3E92CC;       /* Teal */
  --button-shadow: rgba(0, 0, 0, 0.1);
}

body {
  font-family: var(--font-roboto);
  background-color: var(--text-color);
  color: var(--text-color);
}

.app {
  /* padding: 4rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(
    90deg,
    rgb(23, 1, 35) 0%,
    rgba(24, 234, 22, 0) 1000%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.search {
  width: 71%;
  /* margin: 4rem 0 2rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.3rem;
  border-radius: 3rem;
  background: silver; /* Changé la couleur de fond en argent */
  box-shadow: 5px 5px 7px var(--button-shadow), -5px -5px 7px var(--button-shadow);
}

.search input {
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding: 0.75rem 1rem;
  outline: none;
  color: var(--text-color);
  background: var(--background-color);
}

.search img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

/* Rest of your CSS remains unchanged */

/* ... */



.loading-container {
  display: flex;
  align-items: center;
}

.loading-text {
  font-size: 24px;
  padding: 10px 20px;
  border: 2px solid #333;
  border-radius: 5px;
  animation: slide 2s infinite alternate;
}

@keyframes slide {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(100%);
  }
}

















/* .search button {
  padding: 20px 40px;
  border-radius: 0.5rem;
  margin-left: 15px;
  color: #a1a1a1;
  font-family: var(--font-raleway);
  font-weight: 900;
  letter-spacing: 0.75px;
  font-size: 1.25rem;
  cursor: pointer;
  background: #1f2123;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
} */

.empty {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.empty h2 {
  font-size: 2.25rem;
  color: #876402;
  font-family: var(--font-raleway);
  font-weight: 6000;
}

.container {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.movie {
  width: 310px;
  height: 460px;
  margin: 1.5rem;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.movie div:nth-of-type(1) {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
  color: #f9d3b4;
}

.movie:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.movie div:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.movie div:nth-of-type(2) img {
  height: 100%;
  width: 100%;
}

.movie div:nth-of-type(3) {
  z-index: 2;
  background-color: #343739;
  padding: 16px 24px 24px 24px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.movie div:nth-of-type(3) span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
}

.movie div:nth-of-type(3) h3 {
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  color: #f9d3b4;
}

.movie:hover div:nth-of-type(2) {
  /* height: 100%;
  opacity: 0.3; */
}

.movie:hover div:nth-of-type(3) {
  /* background-color: transparent; */
}

.movie:hover div:nth-of-type(1) {
  opacity: 1;
}




footer {
  background-color: #333; /* Couleur de fond du footer */
  color: white; /* Couleur du texte */
  /* Espacement intérieur du footer */
  width: 100%; /* Largeur du footer à 100% de la largeur de la fenêtre */
  position:absolute; /* Position absolue par rapport à son parent */
  padding: 20px;
   z-index: 0;
  margin-bottom: 0; /* Alignement en bas */
  left: 0; /* Alignement à gauche */
  text-align: center;
  justify-content: center;
  margin: 0;
}











@media screen and (max-width: 600px) {
  

  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
 
}

@media screen and (max-width: 400px) {
 

  h1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 2rem;
  }

  .movie {
    width: "100%";
    margin: 1rem;
  }
  footer{
    margin:0;
  }
  
}
